<?xml version="1.0"?>
<!-- 
    A full list of settings and comments can be found in web.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config and others
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!-- Sets the path of the encryption key file used to decrypt passwords from Composer -->
    <add key="composerEncryptionKey" value="" />
  </appSettings>
  <system.net>
    <defaultProxy>
      <!--proxy usesystemdefault = "false" proxyaddress="http://address" bypassonlocal="true"/-->
      <proxy usesystemdefault = "true"/>
    </defaultProxy>
  </system.net>
  <system.web>
    <globalization
      fileEncoding="utf-8"
      requestEncoding="utf-8"
      responseEncoding="utf-8"
      culture="en-US"/>
  </system.web>
  
  <system.webServer>
    <staticContent>
        <remove fileExtension=".vox" />
        <remove fileExtension=".vxml" />
        <remove fileExtension=".grxml" />
        <remove fileExtension=".wav" />
        <remove fileExtension=".json" />
        <remove fileExtension=".scxml" />
        <remove fileExtension=".xml" />
        <mimeMap fileExtension=".vox" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".vxml" mimeType="text/xml" />
        <mimeMap fileExtension=".grxml" mimeType="application/srgs+xml" />
        <mimeMap fileExtension=".wav" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".json" mimeType="text/json" />
        <mimeMap fileExtension=".scxml" mimeType="text/plain" />
        <mimeMap fileExtension=".xml" mimeType="text/xml" />
    </staticContent>
  </system.webServer>
  
  
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\logs\composer.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <!-- log only messages of level ERROR or above in the package specified below -->
    <logger name="getWebRequest">
      <level value="ERROR"/>
    </logger>

    <logger name="getWebService">
      <level value="ERROR"/>
    </logger>

    <logger name="dbRequest">
      <level value="ERROR" />
    </logger>

    <logger name="dbInputForm">
      <level value="ERROR" />
    </logger>
  
    <logger name="recordCapture">
      <level value="ERROR" />
    </logger>
  </log4net>
 </configuration>
